body{
font-family: Georgia, 'Times New Roman', Times, serif;}
.header{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    font-weight: 900;
    color: cyan;
    background-color: rgb(221, 129, 129);
    padding-left: 500px;
}
.user-input{
    display: block;
}
.p{
    display: inline-block;
}
.submit-button{
    font-size: large;
    font-weight: bold;
    background-color: chartreuse;
    border-color: chartreuse;
    border-radius: 10px;
    margin-top: 25px;
    margin-left: 10px;
    cursor: pointer;
}
.input{
    font-size: medium;
}